uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-multipart
numpy
scipy
opencv-python
scikit-learn
email-validator
insightface
onnxruntime
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
joblib
fastapi
uvicorn
sqlalchemy
pydantic-settings
psycopg2-binary
python-multipart
