fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-multipart
numpy
scipy
opencv-python
scikit-learn
email-validator
InsightFace
ONNX Runtime
JWT
password hashing
Joblib
